body {
  background-color: tomato;
  color: black;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.button {
  border-radius: 8px;
  background-color: black;
  color: white;
  padding: 8px;
}
