.container-child {
  background-color: white;
  border: solid white;
  border-radius: 8px;
  min-height: 230px;
  width: 600px;
}
.title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
.autor {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}
.container-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
}
.icon {
  margin: 10px;
  padding: 5px;
}
.icon-twi {
  border-radius: 10px;
  color: black;
  padding: 12px;
}
